<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.home.skiffdro">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".common.SettsActivity"
            android:exported="false"
            android:label="@string/title_activity_setts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lathe.LatheBoll"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lathe.LatheAngleMeter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lathe.LathePulley"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lathe.LatheThread"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".milling.MillingRoundDrill"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
    </application>

</manifest>